<div>
    <h2>
      <span id="incidence-management-page-heading" jhiTranslate="incidences.list.title" data-cy="incidenceManagementPageHeading">Organizaciones</span>
  
      <div class="d-flex justify-content-end">
        <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
          <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
          <span jhiTranslate="global.form.refreshListLabel">Refrescar lista</span>
        </button>
        <!-- <button class="btn btn-primary jh-create-entity" [routerLink]="['/incidences/create']">
          <fa-icon icon="plus"></fa-icon> <span jhiTranslate="incidences.list.createLabel">Crear una nueva organización</span>
        </button> -->
        <button class="btn btn-info bg-info-app jh-create-entity" [routerLink]="['/incidences/kanban']">
          <i class="bi bi-bar-chart"></i> Kanban's status
        </button>
      </div>
    </h2>
  
    <jhi-alert-error></jhi-alert-error>
  
    <jhi-alert></jhi-alert>
  
    <div class="table-responsive" *ngIf="incidences">
      <table class="table table-striped" aria-describedby="incidence-management-page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="transition()">            
            <th scope="col" jhiSortBy="title"><span jhiTranslate="incidences.list.title">Título</span> <fa-icon icon="sort"></fa-icon></th>
            <th scope="col" jhiSortBy="startDate">
              <span jhiTranslate="incidences.list.start_date">Fecha inicio</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="endDate">
              <span jhiTranslate="incidences.list.end_date">Fecha resolución</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="status"><span jhiTranslate="incidences.list.status">Estado</span> <fa-icon icon="sort"></fa-icon></th>
            <th scope="col"><span jhiTranslate="incidences.list.geolocation">Geolocalización</span></th>
            <th scope="col"><span jhiTranslate="incidences.list.organization">Organization</span></th>
            <th scope="col"><span jhiTranslate="incidences.list.employee">Empleado</span></th>
            <th class="text-center" scope="col"><span jhiTranslate="incidences.list.actions">Acciones</span></th>
          </tr>
          <tr>
            <th><input type="text" class="form-control" id="title" name="title" [(ngModel)]="title" (keyup)="loadFilter()" placeholder="{{ 'incidences.list.title' | translate }}" /></th>
            <th><input type="datetime-local" class="form-control" id="startDate" name="startDate" [(ngModel)]="startDate" (change)="loadFilter()"/></th>
            <th><input type="datetime-local" class="form-control" id="endDate" name="endDate" [(ngModel)]="endDate" (change)="loadFilter()"/></th>
            <th>
              <select class="form-control" id="status" name="status" [(ngModel)]="status" data-cy="status" (change)="loadFilter()" >
                <option [value]="''">{{ 'any' | translate }}</option>
                <option *ngFor="let status of incidencesStatus" [value]="status">{{ ('incidences.status.status_incidence.' + status | lowercase) | translate }}</option>
              </select>
            </th>
            <th></th>
            <!-- <th><input type="text" class="form-control" id="nameOrganization" name="nameOrganization" [(ngModel)]="nameOrganization" (keyup)="loadFilter()" placeholder="{{ 'incidences.list.name' | translate }}" /></th> -->
            <th></th>
            <th></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody *ngIf="incidences">
          <tr *ngFor="let incidence of incidences; trackBy: trackIdentity">           
            <td>{{ incidence.title }}</td>
            <td>{{ incidence.startDate | date: 'dd/MM/yy HH:mm' }}</td>
            <td>{{ incidence.endDate | date: 'dd/MM/yy HH:mm' }}</td>
            <td>{{ ('incidences.status.status_incidence.' + incidence.status) | lowercase | translate }}</td>
            <td>
              [{{ incidence.location?.latitude }} , {{ incidence.location?.longitude }}]
            </td>
            <td>{{ incidence.nameOrganization }}</td>
            <td></td>
            <td class="text-end">              
              <div class="btn-group">                
                <button type="submit" [routerLink]="['./', incidence.id, 'view']" title="{{'entity.action.view' | translate}}" class="btn btn-info bg-info-app">
                  <fa-icon icon="eye"></fa-icon>
                  <!-- <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span> -->
                </button>  
                <button type="submit" [routerLink]="['./', incidence.id, 'edit']" title="{{'entity.action.edit' | translate}}" queryParamsHandling="merge" class="btn btn-warning">
                  <fa-icon icon="pencil-alt"></fa-icon>
                  <!-- <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span> -->
                </button>  
                <button
                  type="button"
                  (click)="deleteIncidence(incidence)"
                  title="{{'entity.action.delete' | translate}}"
                  class="btn btn-danger"
                  [disabled]="incidence.id !== 1 ">
                  <fa-icon icon="times"> </fa-icon>
                  <!-- <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span> -->
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <div *ngIf="incidences">
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>
  
      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [(page)]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="transition()"
        ></ngb-pagination>
      </div>
    </div>
  </div>
  
