<div class="d-flex justify-content-between align-items-center mb-3">
  <div><h1>Kanban</h1></div>
  <div class="d-flex align-items-center">
    <div class="dropdown" ngbDropdown>
      <button class="btn btn-secondary dropdown-toggle" type="button" ngbDropdownToggle  id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Ordenar
      </button>
      <ul class="dropdown-menu" ngbDropdownMenu id="collapseOne"  aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
    <div class="dropdown" ngbDropdown>
      <button class="btn btn-secondary dropdown-toggle" type="button" ngbDropdownToggle  id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Filtrar
      </button>
      <ul class="dropdown-menu" ngbDropdownMenu id="collapseOne"  aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid py-5">
  <div class="row">
  <!-- Start lane (STATUS PENDING) -->
  <div class="col-12 col-lg-3">
    <div class="card mb-3">
      <div class="card-header bg-light">
        <div class="card-title h5 mb-1">
            <div>
                <fa-icon icon="table-list" class="icon-pending"></fa-icon> <span >{{statusType[0]}}</span>
            </div>
        </div>
        <!-- <small class="mb-0 text-muted">
          Estas tareas estan pendientes de ser realizadas.
        </small> -->
      </div>
      <div class="card-body">
        <div class="tasks" id="backlog">
          <!-- Start task -->
          <ng-container *ngFor="let incidence of incidencesPending" >
            <div class="card border-pending p-1 mb-3 cursor-grab">
              <!-- <img class="card-img-top" src="https://source.unsplash.com/zNRITe8NPqY/400x200" alt="Bootstrap Kanban Board" /> -->
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <div>
                    <h5 class="card-title">{{incidence.title}}</h5>
                  </div>
                  <!-- <div><span class="badge bg-danger">{{incidence.priority}}</span></div>  -->
                  <div>
                    <span [ngClass]="{
                        'badge': true,
                        'bg-danger': incidence.priority != null && incidence.priority == 'HIGH',
                        'bg-warning': incidence.priority != null && incidence.priority == 'MEDIUM',
                        'bg-success': incidence.priority != null && incidence.priority == 'LOW',
                        'text-white': true
                      }" >
                      {{ ('incidences.priority.priority_incidence.'+ incidence.priority) | lowercase | translate }}
                    </span>
                  </div>
                </div>
                <!-- <p class="mb-0 text-truncate" 
                    data-bs-toggle="dropdown"
                    title="{{incidence.description}}"
                    [attr.data-bs-content]="incidence.description">{{incidence.description}}
                </p> -->
                <div class="text-right">
                </div>
              </div>
            </div>
          </ng-container>
          <!-- End task -->
        </div>
        <div class="btn btn-primary btn-block">Add task</div>
      </div>
    </div>
  </div>
  <!-- End lane (STATUS PENDING) -->
  <!-- Start lane (STATUS IN PROCESS) -->
  <div class="col-12 col-lg-3">
    <div class="card mb-3">
      <div class="card-header bg-light">
        <div class="card-title h5 mb-1">
          <div>
            <fa-icon icon="spinner" class="icon-in-progress" ></fa-icon> <span >{{statusType[1]}}</span>
          </div>
        </div>
        <!-- <small class="mb-0 text-muted">
          Estas tareas estan pendientes de ser realizadas.
        </small> -->
      </div>
      <div class="card-body">
        <div class="tasks" id="backlog">
          <!-- Start task -->
          <ng-container *ngFor="let incidence of incidencesInProgress" >
            <div class="card border-in-progress p-1 mb-3 cursor-grab">
              <!-- <img class="card-img-top" src="https://source.unsplash.com/zNRITe8NPqY/400x200" alt="Bootstrap Kanban Board" /> -->
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <div>
                    <h5 class="card-title">{{incidence.title}}</h5>
                  </div>
                  <!-- <div><span class="badge bg-danger">{{incidence.priority}}</span></div>  -->
                  <div>
                    <span [ngClass]="{
                      'badge': true,
                      'bg-danger': incidence.priority != null && incidence.priority == 'HIGH',
                      'bg-warning': incidence.priority != null && incidence.priority == 'MEDIUM',
                      'bg-success': incidence.priority != null && incidence.priority == 'LOW',
                      'text-white': true
                    }" >
                      {{ ('incidences.priority.priority_incidence.'+ incidence.priority) | lowercase | translate }}
                    </span>
                  </div>
                </div>
                <!-- <p class="mb-0 text-truncate" 
                    data-bs-toggle="dropdown"
                    title="{{incidence.description}}"
                    [attr.data-bs-content]="incidence.description">{{incidence.description}}
                </p> -->
                <div class="text-right">
                </div>
              </div>
            </div>
          </ng-container>
          <!-- End task -->
        </div>
        <!-- <div class="btn btn-primary btn-block">Add task</div> -->
      </div>
    </div>
  </div>
  <!-- End lane (STATUS IN PROCESS) -->
  <!-- Start lane (STATUS PENDING CONFIRM) -->
  <div class="col-12 col-lg-3">
    <div class="card mb-3">
      <div class="card-header bg-light">
        <div class="card-title h5 mb-1">
          <div>
            <fa-icon icon="user-clock" class="icon-pending-confirm"></fa-icon> <span >{{statusType[2]}}</span>
          </div>
        </div>
        <!-- <small class="mb-0 text-muted">
          Estas tareas estan pendientes de ser realizadas.
        </small> -->
      </div>
      <div class="card-body">
        <div class="tasks" id="backlog">
          <!-- Start task -->
          <ng-container *ngFor="let incidence of incidencesPendingConfirm" >
            <div class="card border-pending-confirm p-1 mb-3 cursor-grab">
              <!-- <img class="card-img-top" src="https://source.unsplash.com/zNRITe8NPqY/400x200" alt="Bootstrap Kanban Board" /> -->
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <div>
                    <h5 class="card-title">{{incidence.title}}</h5>
                  </div>
                  <!-- <div><span class="badge bg-danger">{{incidence.priority}}</span></div>  -->
                  <div>
                    <span [ngClass]="{
                      'badge': true,
                      'bg-danger': incidence.priority != null && incidence.priority == 'HIGH',
                      'bg-warning': incidence.priority != null && incidence.priority == 'MEDIUM',
                      'bg-success': incidence.priority != null && incidence.priority == 'LOW',
                      'text-white': true
                    }" >
                      {{ ('incidences.priority.priority_incidence.'+ incidence.priority) | lowercase | translate }}
                    </span>
                  </div>
                </div>
                <!-- <p class="mb-0 text-truncate" 
                    data-bs-toggle="dropdown"
                    title="{{incidence.description}}"
                    [attr.data-bs-content]="incidence.description">{{incidence.description}}
                </p> -->
                <div class="text-right">
                </div>
              </div>
            </div>
          </ng-container>
          <!-- End task -->
        </div>
        <!-- <div class="btn btn-primary btn-block">Add task</div> -->
      </div>
    </div>
  </div>
  <!-- End lane (STATUS PENDING CONFIRM) -->
  <!-- Start lane (STATUS RESOLVED) -->
  <div class="col-12 col-lg-3">
    <div class="card mb-3">
      <div class="card-header bg-light">
        <div class="card-title h5 mb-1">
          <div>
            <fa-icon icon="check" class="icon-resolved"></fa-icon> <span >{{statusType[3]}}</span>
          </div>
        </div>
        <!-- <small class="mb-0 text-muted">
          Estas tareas estan pendientes de ser realizadas.
        </small> -->
      </div>
      <div class="card-body">
        <div class="tasks" id="backlog">
          <!-- Start task -->
          <ng-container *ngFor="let incidence of incidencesResolved" >
            <div class="card border-resolved p-1 mb-3 cursor-grab">
              <!-- <img class="card-img-top" src="https://source.unsplash.com/zNRITe8NPqY/400x200" alt="Bootstrap Kanban Board" /> -->
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <div>
                    <h5 class="card-title">{{incidence.title}}</h5>
                  </div>
                  <!-- <div><span class="badge bg-danger">{{incidence.priority}}</span></div>  -->
                  <div>
                    <span [ngClass]="{
                      'badge': true,
                      'bg-danger': incidence.priority != null && incidence.priority == 'HIGH',
                      'bg-warning': incidence.priority != null && incidence.priority == 'MEDIUM',
                      'bg-success': incidence.priority != null && incidence.priority == 'LOW',
                      'text-white': true
                    }" >
                      {{ ('incidences.priority.priority_incidence.'+ incidence.priority) | lowercase | translate }}
                    </span>
                  </div>
                </div>
                <!-- <p class="mb-0 text-truncate" 
                    data-bs-toggle="dropdown"
                    title="{{incidence.description}}"
                    [attr.data-bs-content]="incidence.description">{{incidence.description}}
                </p> -->
                <div class="text-right">
                </div>
              </div>
            </div>
          </ng-container>
          <!-- End task -->
        </div>
        <!-- <div class="btn btn-primary btn-block">Add task</div> -->
      </div>
    </div>
  </div>
  <!-- End lane (STATUS RESOLVED) -->
  </div>
</div>