
<h1>Map</h1>

<google-map #incidencesMap
    width="100%"
    height="750px"
    [center]="center"
    [zoom]="zoom"
    (mapClick)="onMapClick($event)">

    <map-marker
        *ngFor="let marker of markers"
        [position]="marker.position"
        [label]="marker.label"
        [title]="marker.title"
        [options]="marker.options"
        (mapClick)="onMarkerClick($event, marker.idIncidence)"
        (mapDrag)="onMarkerDrag($event)"
        (mapDragstart)="onMarkerDragStart($event)"
        (mapDragend)="onMarkerDragEnd($event)"
        #mapMarker>
  </map-marker>

</google-map>

