<div class="modal-header">
    <h4 class="modal-title" id="showHealthLabel" *ngIf="incidence">
        <span jhiTranslate="incidences.detail.title_view">Incidencia</span> [<strong>{{ incidence.title }}</strong>]
    </h4>
  
    <button aria-label="Close" data-dismiss="modal" class="btn btn-close" type="button" (click)="dismiss()">
      <!-- <span aria-hidden="true">&times;</span> -->
    </button>
</div>
  
<div class="modal-body pad">
    
    <dl class="row-md jh-entity-details" *ngIf="incidence">
          
        <dt><span jhiTranslate="incidences.detail.title">Título</span></dt>
        <dd>{{ incidence.title }}</dd>

        <dt><span jhiTranslate="incidences.detail.description">description</span></dt>
        <dd>{{ incidence.description }}</dd>

        <dt><span jhiTranslate="incidences.detail.start_date">Fecha inicio</span></dt>
        <dd>{{ incidence.startDate | date: 'dd/MM/yy HH:mm' }}</dd>

        <ng-container *ngIf="incidence.endDate" >
          <dt><span jhiTranslate="incidences.detail.end_date">Fecha resolución</span></dt>
          <dd>{{ incidence.endDate | date: 'dd/MM/yy HH:mm' }}</dd>
        </ng-container>

        <dt><span jhiTranslate="incidences.detail.status">status</span></dt>
        <dd>{{ ('incidences.status.status_incidence.' + incidence.status) | lowercase | translate }}</dd>

        <dt><span jhiTranslate="incidences.detail.priority">priority</span></dt>
        <dd>{{ ('incidences.priority.priority_incidence.' + incidence.priority) | lowercase | translate }}</dd>

        <dt><span jhiTranslate="incidences.detail.geolocation">Geolocalización</span></dt>
        <dd><br/>{{ incidence.latitude }}<br/>{{ incidence.longitude }}</dd>
        <!--<dt><span jhiTranslate="incidences.detail.createdBy">Creado por</span></dt>
        <dd>{{ incidence.createdBy }}</dd>

        <dt><span jhiTranslate="incidences.detail.createdDate">Fecha de creación</span></dt>
        <dd>{{ incidence.createdDate | date: 'dd/MM/yy HH:mm' }}</dd>

        <dt><span jhiTranslate="incidences.detail.lastModifiedBy">Modificado por</span></dt>
        <dd>{{ incidence.lastModifiedBy }}</dd>

        <dt><span jhiTranslate="incidences.detail.lastModifiedDate">Fecha de modificación</span></dt>
        <dd>{{ incidence.lastModifiedDate | date: 'dd/MM/yy HH:mm' }}</dd>  -->

    </dl>
</div>  
  <!-- <div class="modal-footer">
    <button data-dismiss="modal" class="btn btn-secondary float-start" type="button" (click)="dismiss()">Done</button>
   </div> -->