<form *ngIf="incidence" name="deleteForm" (ngSubmit)="confirmDelete(incidence.id!)">
    <div class="modal-header">
      <h4 class="modal-title  text-color-white" jhiTranslate="entity.delete.title">Confirmar operación de borrado</h4>
  
      <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
    </div>
  
    <div class="modal-body">
      <jhi-alert-error></jhi-alert-error>
  
      <p jhiTranslate="incidences.delete.question" [translateValues]="{ title: incidence.title }">
        ¿Seguro que quieres eliminar la incidencia {{ incidence.title }}?
      </p>
    </div>
  
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
      </button>
  
      <button type="submit" class="btn btn-danger">
        <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Eliminar</span>
      </button>
    </div>
  </form>